<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @site.domain %>
</p>

<p>
  <strong>Sub domain:</strong>
  <%= @site.sub_domain %>
</p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @site.user_id %>
</p>

<p>
  <strong>Site pages:</strong>
  <% @site.pages.each do |page| %>
    <p><%= page.title %></p>
  <% end %>
</p>